.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.button-add {
  background-color: rgb(6, 224, 6);
  border-radius: 4px;

}

.button-remove {
  background-color: rgb(255, 0, 0);
  border-radius: 4px;
  margin-bottom: 10px;
}

input {
  border-color: palegoldenrod;

}

h1 {
  color: #282c34;
  text-shadow: #61dafb 2px 2px 2px;
}

ul {
  border: 1px #282c34 solid;
  margin-top: 20px;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}